<% content_for :body_content_left do %>
  <div class='home'>
    <%= @page[:body] %>
    <div class="column span-7 colborder">
        <h2>Bokning av spelr채tter</h2>
        <% @play_rights.each do |pr| %>  
        <%  booking_count = pr.play_right_bookings.today.count %>
        <%   if booking_count == 0 %>
               <p><<%= "Idag har <strong> #{pr.name}</strong> ingen bokning" %></p>
        <%   else %>
               <p>
               <%   booking_msg = (booking_count == 1) ? "bokning" : "bokningar" %>
               <%= "Idag har <strong> #{pr.name}</strong> #{booking_count} #{booking_msg}" %>
               <ol>
                  <% pr.play_right_bookings.today.each do |booking| %>
                    <li><%= booking.user.name %></li>
                 <% end %>
               </ol>
              </p>
        <% end %>
    <%   end %>
        H채r finns 
         <%= link_to('bokningskalendern', calendar_member_play_right_booking_url(0)) %>.
      	 <%= link_to image_tag("calendar.jpg"), calendar_member_play_right_booking_url(0) %></p>
    </div>
    <div class="column span-7 colborder">
      <h2>T채vlingar</h2>
      <% @events.each do |e| %>
        <%=  e.name %> -> <%= e.start_at.strftime("%a %Y-%m-%d")%><br/>
      <% end %>
    </div>
    <div class="column last">
      <h2>T채vlingsresultat</h2>
      <%= @page[:tour_result] %>
    </div>
  </div>
<% end %>
<%= render :partial => "/shared/content_page" %>
